<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">
                {{$t('faq.header')}}
                <small>{{$t('faq.subheader')}}</small>
            </h1>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <h4 id="ratings">
                    {{$t('faq.ratings.header')}}
                    <a href="#ratings" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.ratings.text.p1')}}}</p>
                <p>{{{$t('faq.ratings.text.p2')}}}</p>
            </li>

            <li class="list-group-item">
                <h4 id="contribute">
                    {{$t('faq.contribute.header')}}
                    <a href="#contribute" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.contribute.text.p1')}}}</p>
                <p>{{{$t('faq.contribute.text.p2')}}}</p>
            </li>

            <li class="list-group-item">
                <h4 id="bug">
                    {{$t('faq.bug.header')}}
                    <a href="#bug" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.bug.text.p1')}}}</p>
                <p>{{{$t('faq.bug.text.p2')}}}</p>
            </li>

            <li class="list-group-item">
                <h4 id="ruleset">
                    {{$t('faq.ruleset.header')}}
                    <a href="#ruleset" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.ruleset.text.p1')}}}</p>
            </li>

            <li class="list-group-item">
                <h4 id="ranked-free">
                    {{$t('faq.ranked_free.header')}}
                    <a href="#ranked-free" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.ranked_free.text.p1')}}}</p>
                <p>{{{$t('faq.ranked_free.text.p2')}}}</p>
            </li>

            <li class="list-group-item">
                <h4 id="avatar">
                    {{$t('faq.avatar.header')}}
                    <a href="#avatar" class="header-anchor"></a>
                </h4>
                <p>{{{$t('faq.avatar.text')}}}</p>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        mixins: [require('./../mixins/title.vue')],

        computed: {
            window_title() {
                return this.$t('faq.header');
            }
        }
    }
</script>